@import '../../styles/variables';

.container{
    margin: $space-l 0;
    display:flex;
    flex-direction: column;
    gap:$space-xl;
}

.tags{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:$space-m $space-xl;
    flex-wrap:wrap;

    @media (max-width:$breakpoint-l){
         gap:$space-xs $space-s;
    }
}
