// Colors
$dark-principal: #3c0c60;
$medium-principal: #7d26c9;
$light-principal: #dfbbfe;
$black: #2d2d2d;
$dark-secondary: #dcd9d0;
$medium-secondary: #dfdcd5;
$light-secondary: #eae8e4;
$white: #fcfcfd;

// Typography
$family: Roboto, sans-serif;

// Font Size
$size-xs: 1rem;
$size-s: 1.25rem;
$size-m: 1.5rem;
$size-l: 2.5rem;
$size-xl: 3rem;

// Breakpoints
$breakpoint-s: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1367px;

// Font Weight
$thin: 200;
$light: 300;
$regular: 400;
$bold: 600;

//Spacings
$space-xs:8px;
$space-s:16px;
$space-m:24px;
$space-l:32px;
$space-xl:48px;
$space-xxl:64px;
$space-2xl:80px;

//Border-radius
$radius-xs:4px;
$radius-s:8px;
$radius-m:16px;
$radius-l:24px;
$radius-xl:40px;