@import '../../styles/variables';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $space-xl 0;

    @media (max-width:$breakpoint-l) {
        justify-content: center;
        align-items: center;
    }

    .left {
        width: 591px;
        display: flex;
        flex-direction: column;

        >img {
            @media (max-width:$breakpoint-l){
                margin-bottom: $space-m;
            }
        }

        >h3 {
            margin: $space-s 0 $space-xl 0;

            @media (max-width:$breakpoint-l) {
                margin: $space-xs 0 $space-s 0;
            }
        }
    }

    .right {
        width: 591px;
        display: flex;
        flex-direction: column;
        gap: $space-m;
    }

    .left,
    .right {

        >img {
            border-radius: $radius-l;
        }

        @media (min-width:$breakpoint-xl) {
            width: 650px;
        }

        @media (max-width:$breakpoint-l) {
            width: 100%;
        }
    }

}