@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    gap: $space-xs;

    .cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $space-m;
        margin-top: $space-xl;

        @media (min-width: $breakpoint-xl) {
            justify-content: space-between;
        }

        @media (max-width:$breakpoint-l){
            justify-content: center;
            align-items: center;
            margin-top:$space-m;
        }
    }
}