@import '../../styles/variables';

.container{
    padding:$space-xl;
    background-color:$dark-principal;
    border-radius:$radius-l;
    display:flex;
    gap:$space-l;
    align-items: center;

    @media (max-width:$breakpoint-l){
        flex-direction:column;
        padding:$space-s;
    }
}

.text{
    display:flex;
    flex-direction: column;
    gap:$space-xs;

    >h2, >h3{
        color:$light-secondary;
    }
}

.apps{
display:flex;
flex-direction:column;
gap:$space-xs;
justify-content: center;
}

